 header
{
  background:rgba(216, 6, 129, 0.82);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  box-shadow:  1px 1px 3px 3px rgb(61, 60,60,0.4);
  width: 100vw;
  
} 
header .logo{
   height: 40px;
  width: 40px;
   font-size: 30px;
  color:black
}
header.display-menu{
  display:flex;
  align-items: center;
  justify-content: space-around; 
  float: left;
  
}

.display-menu .menu{
  padding: 0 15px;
  text-decoration: none;
  color:black;
  
} 


.header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--first-color);
  }